# Binaries
*.exe
*.dll
*.so
*.dylib
*.out
bin/
dist/

# IDEs
.idea/
.claude
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Env / local configs / secrets
.env
.env.*
conf/local.yml

# Docker overrides (si los usás)
docker-compose.override.yml

nul